#body {
	background-image: url(bg.jpg);
		background-repeat: no repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		}
#about-us{
	width: 100%;
	height: 540px;
	background-color: #CCAAFF;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
#about-us-text{
	width: 678px;
	height: 500px;
	float: left;
}
#about-us-gif{
	width: 500px;
	height: 530px;
	float: left;
	padding-top: 18px;
	padding-left: 15px;
}
#about-us-title{
	width: 140px;
	height: 60px;
	margin-top: 120px;
	margin-left: 50px;
}
#about-us-title h1{
	background-image: linear-gradient(#CCFFCC, #CCDDFF, #FFCCCC);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	padding-top: 20px;
	font-family: 'work sans', sans-serif;
	font-size: 30px;
	user-select: none;
}
#about-us-details{
	width: 600px;
	height: 110px;
	margin-left: 50px;
}
#about-us-details p, h2{
	color: white;
	font-size: 17px;
	font-family: 'poppins', sans-serif;
	user-select: none;
}
#about-us-details p{
	margin: 0px;
	padding: 0px;
}
#learn-more{
	width: 200px;
	height: 50px;
	background-image: linear-gradient(#CCFFCC, #CCDDFF, #FFCCCC);
	margin-left: 50px;
	border-radius: 10px;
	margin-top: 30px;
}
